.profile_container {
  background: rgb(57, 62, 0);
  background: radial-gradient(circle, rgba(57, 62, 0, 0.3617822128851541) 23%, rgba(0, 247, 103, 0.362) 100%, rgba(60, 164, 163, 0.7903536414565826) 100%);
}

.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 90px;
  background: rgb(9, 9, 121);
  background: radial-gradient(circle, rgba(9, 9, 121, 1) 0%, rgba(2, 0, 36, 0.6783088235294117) 100%, rgba(0, 212, 255, 1) 100%);
}

.profile-photo {
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-sub{
  margin-top:100px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 10px;
}
.bookmark-main{
  margin-bottom: 19px;
  /* margin-left:1rem; */
  margin-right: 1rem;
}
.heading1{
  margin-bottom: 10px;
  cursor: pointer;
}

.profile .preview_img {
  background-image: url('https://res.cloudinary.com/dttyhvsnv/image/upload/v1677430557/default_pic_gxoa10.png');
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  border-radius: 50%;
  margin-top: 10px;
  overflow: hidden;
}


.profile-photo label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}


.profile-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-photo .filename {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

.profile form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile label {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}


.profile .image_button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.profile .image_button button {
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(15, 15, 87, 0.8);
  transition: all .2s;
}

.profile .image_button button:hover {
  background-color: rgb(15, 15, 87);
  cursor: pointer;
  transform: scale(1.01);
}

.hreffor {
  color: rgb(209, 236, 255);
}

.profile button[type=submit] {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgba(104, 214, 7, 0.8);
  width: 100%;
}

.profile button[type=submit]:hover {
  background-color: rgba(127, 255, 16, 0.8);
}

.profile .button:hover {
  background-color: rgb(15, 15, 87);
}


.about_me {
  min-height: 60px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  border-radius: 6px;
}

.change_about {
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(15, 15, 87, 0.8);
  font-size: 16px;
  margin-top: 6px;
  transition: all .2s;
}

.change_about:hover {
  background-color: rgb(15, 15, 87);
}

.my_profile_error {
  color: red;
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 10px;
  }

  label,
  textarea,
  button {
    font-size: 16px;
  }
}

.change_about {
  cursor: pointer;
}

.jenc {
  font-size: 17px;
  color: white;
  cursor: pointer;
  background-color: green;
  transition: 300ms;
}

.jenc:hover {
  transition: 300ms;
  transform: scale(1.03);
}

.profile {
  border-radius: 10px;
}






/*  */


.itemp{
  text-decoration: none;
  background-color: whitesmoke;
  height:200px;
  width:340px;
  display:flex;
  margin-bottom:10px;
  border-radius: 10px 10px 10px 10px;
  border:solid 1px white;
  gap:0.3rem;
}
.leftp{
  width:260px;
  overflow: hidden;
  height:200px;
  margin-bottom:10px;
  border-radius: 10px;
}
.leftimgp{
  width:200px;
  height:200px;
  /* margin:auto; */
  margin-left:-30px;
  /* over */
  border-radius: 10px 10px;
}
.post-containerp {
  width:100%;
  max-width: 100%;
  margin: 1.2rem 2rem;
  display: flex;
  flex-direction: row;
  gap:1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 10px;
}
.post-containerp::-webkit-scrollbar{
  display:none;
}
.pointer{
  cursor: pointer;
}
.imgscp2{
  cursor: pointer;
  height:30px;
  width:30px;
  border-radius: 50%;
}
.profile_data2{
  position: relative;
  display: flex;
  gap:8px;
  text-decoration: none;
  margin-top: 10px;
  float: left;
  bottom:0px;
  top:60px;
  left:10px;
  cursor: pointer;
  font-size: 15px;
}
.view_post{
  font-size: 12px;
  color:grey;
  display: flex;
  justify-items: center;
  align-items: center;
}
.view_post_profile{
  font-size: 16px;
  color:grey;
  display: flex;
  justify-items: center;
  align-items: center;
}
.profile_data24{
  position: relative;
  display: flex;
  gap:3px;
  text-decoration: none;
  margin-top: 10px;
  float: left;
  bottom:0px; 
  top:60px;
  left:2px;
  font-size: 15px;
}
.user_name2{
  color:black;
  text-decoration: none;
  /* display: none; */
}
.user_middle2{
  color:black;
  text-decoration: none;
  /* background-color: pink; */
}
.itemp:hover{
  transform: scale(1.021);
  transition: 200ms;
}
.blackfont{
  color:black;
  text-decoration: none;
}
.blackfont:active{
  color:black;
  text-decoration: none;
}

.red{
  color:red;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
}
.bluev{
  color:blue;
  text-decoration: none;
}
.red:hover{
  color:brown;
  font-weight: 700;
  
  transition: 200ms;
}
.post-containerp2{
  background-color: whitesmoke;
  border-radius: 10px;
  border:solid 1px white;
  margin-top:1rem;
}
.uf22{
  background-color: white;
  padding:10px;
  border-radius: 10px;
  text-decoration: none;
  top:0px;
}
.uf2{
  text-decoration: none;

}

.pf22{
  display: grid;
  gap:20px;
  width:100%;
  /* height:300px; */
  margin-top:0px;
  overflow-x: scroll;
  top:0px;
  grid-template-columns: auto auto auto auto auto;
}
@media screen and (max-width: 1100px) {
  .pf22{

    grid-template-columns: auto auto auto auto ;
  }
}
@media screen and (max-width: 900px) {
  .pf22{

    grid-template-columns: auto auto auto ;
  }
}
@media screen and (max-width: 700px) {
  .pf22{

    grid-template-columns: auto auto ;
  }
  .uf22{
    width: 170px;
    overflow: scroll;
    justify-content: left;
    justify-items: center;
    text-decoration: none;
  }
  .uf22::-webkit-scrollbar{
    display:none
  }
  .sm{
    font-size:17px;
  }
  .ssm{
    font-size:12px;
  }
}
@media screen and (max-width: 500px) {
  .pf22{

    grid-template-columns: auto auto;
    gap:5px
  }
}
@media screen and (max-width: 465px) {
  .pf22{
    margin:auto;
    margin-left:10%;
    grid-template-columns: auto;
    gap:5px;
  }
}
.pf22::-webkit-scrollbar{
  display:none
}

.post-containerp22{
  border-radius: 10px;
}
.follpage{
  margin:auto;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap:60px;
  font-weight: 600;
}
.following, .follower{
  background-color: rgb(207, 224, 255);
  border-radius: 5px;
  padding:5px;
  border: solid 1px white;
}