@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");


.intro_section {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "Poppins";
  font-size: 10px;
  color: rgb(78, 78, 78);
}

.intro_section img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.parallex-img {
  /* position: relative; */
  top: 65px;
  height: 310px;
}

.card-text {
  text-align: center;
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: auto;
  position: relative;
  top: 0px;
  text-shadow: 0px 1px 4px rgb(0, 0, 0);
  /* z-index: 99999; */
}

.bgimg {
  height: 330px;
  width: 330px;
}

@media screen and (max-width: 733px) {
  .intro_section h3 {
    margin: 15px;
  }
}

@media screen and (max-width: 730px) {
  .intro_section img {
    height: 310px;
  }

  .parallex-img {
    position: relative;
    top: 65px;
    height: 310px;
  }
}

@media screen and (max-width: 691px) {
  .intro_section h3 {
    margin: 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .intro_section img {
    width: 100%;
    height: 295px;
    object-fit: cover;
  }
}

@media screen and (max-width: 548px) {
  .intro_section img {
    height: 257px;
  }
}

@media screen and (max-width: 433px) {
  .card-text {
    top: 0px;
  }
}
.dropdown-menu {
}

/*  Hero Page Dropdown button CSS*/
.dropdown-container {
  position: relative;
  display: inline-block;
  width: 150px;
}

/* Button for Dropdown */
.dropdown-btn {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(231, 224, 224);
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Hover effect for the button */
.dropdown-btn:hover {
  background-color: rgb(231, 224, 224);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
  animation: dropdown-animation 0.3s ease-in-out;
}

/* Individual dropdown items */
.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  color: #000;
  background-color: rgb(231, 224, 224);
  border-bottom: 1px solid rgb(177, 176, 176);
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: rgb(231, 224, 224);
}

.dropdown-item:last-child {
  border-bottom: none;
}

/* Animation for smooth dropdown opening */
@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
