.desktop-footer {
  background: linear-gradient(180deg, #070c25 0%, #0a1426 100%);
  color: white;
  padding: 50px 20px;
  margin-top: 25rem;
  font-size: larger;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 250px;
  margin: 20px;
  transition: transform 0.2s;
}

.footer-column:hover {
  transform: scale(1.02);
}

.footer-column h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 5px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  text-decoration: none; /* Remove underline from all links */
  font-weight: 400;
  font-size: 16px;
  color: #d1d1d1;
  transition: color 0.2s ease, transform 0.2s ease;
}

.footer-column a:hover {
  color: #ffffff;
  font-weight: 600;
  transform: translateY(-2px);
}

.footer-info {
  margin-top: 40px;
  text-align: center;
}

.footer-info p {
  font-size: 14px;
  color: #e1e1e1;
  padding-bottom: 1rem;
}

.footer-info > p > a {
  color: #ffffff; /* White color for links in footer info */
  font-weight: 500; /* Medium weight for better emphasis */
  text-decoration: none; /* Remove underline for email and name links */
}

.footer-info > p > a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
  color: #1486c8; /* Light blue for hover effect */
}

@media (max-width: 767px) {
  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }
}
