.breaker {
    margin: .4rem 8rem;
    padding: .6rem;
    border-bottom: 1px solid black;
    font-size: 1.4rem;
    font-weight: 700;
    /* top:60px; */
    /* margin-top: 390px; */
    /* position: relative; */
    color:black;
}